/* ESCOPO
01 - HEADER
02 - HOME
03 - SOBRE MIM
04 - PROJETOS
05 - CONTATO
06 - FOOTER
*/

/* ============================================================= */

/* FONTS INSTALADAS */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ============================================================= */

/* RESET DA PÁGINA */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
}

/* ============================================================= */

/* 01 INÍCIO DA HEADER */

/* MANIPULAÇÃO DA CLASS MÃE DO MENU */
.container-menu{
    background: #fff;
    border: 1px solid #ddd;
    width: 98%;
    height: auto;
    border-radius: 20px;
    margin: auto;
    margin-top: 20px;
    font-family: 'Kanit';
}

/* DESCOLAÇÃO DOS ITENS DA LISTA PARA O CENTRO DA HEADER */
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
}

/* ALINHAMENTO DOS ITENS DA LISTA E REMOVENDO O ESTILO DE LISTA */
ul{
    display: flex;
    list-style: none;
}

/* ADICIONANDO OS ESPAÇOS NECESSÁRIOS PRA CADA ITEM E ESTILIZANDO TODOS */
.item-menu{
    margin-right: 20px;
    text-decoration: none;
    color: #252323;
    font-size: 1.1rem;
    cursor: pointer;
}

.item-menu:hover{
    color: #ccc;
}

/* ADICIONANDO UMA ANIMAÇÃO DE COR QUANDO O CURSOR TIVER POR CIMA DO ITEM DA LISTA */
.item-menu:hover{
    color: #817d7d;
}

/* RESPONSIVIDADE PARA TELA MENOR QUE 768px (Exemplo: Tablets e Telas Menores) */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        padding: 10px 0;
    }

    .item-menu {
        margin-bottom: 15px;
        font-size: 1rem;
    }

    .container-menu {
        width: 95%;
    }
}
/* RESPONSIVIDADE PARA TELA MENOR QUE 480px (Exemplo: Celulares) */
@media (max-width: 480px) {
    .item-menu {
        font-size: 1.0rem;
        margin-right: 10px;
    }

    .nav-menu {
        flex-direction: column;
        padding: 15px 0;
    }

    .container-menu {
        width: 100%;
    }
}

/* 01 FIM DA HEADER */

/* ============================================================= */

/* 02 INÍCIO DA SEÇÃO HOME */

/* ESTILIZAÇÃO DA SEÇÃO HOME */
.section-home section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
    padding: 50px;
    background: #fff;
}
/* ESTILIZAÇÃO DO CONTEÚDO À ESQUERDA NA SEÇÃO HOME */
.home-left{
    text-align: left;
    padding-left: 15%;
    width: 100%;
    height: auto;
}
/* ESTILIZAÇÃO DO TÍTULO H2 À ESQUERDA NA SEÇÃO HOME */
.home-left h2{
    font-size: 2.5rem;
    color: #111;
    margin-bottom: 10px;
}
/* ESTILIZAÇÃO DO PARÁGRAFO À ESQUERDA NA SEÇÃO HOME */
.home-left p {
    max-width: 400px;
    width: 100%;   
    color: #333;
    text-align: justify;
}
/* ESTILIZAÇÃO DO CONTEÚDO À DIREITA NA SEÇÃO HOME */
.home-right {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 15%;
    width: 100%;
    align-items: center;
}
/* ESTILIZAÇÃO DA IMAGEM À DIREITA NA SEÇÃO HOME */
.home-right img {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 700px;
    border: 2px solid #999797;
    border-radius: 30%;
    pointer-events: none;
}
/* ESTILIZAÇÃO DOS ÍCONES NA SEÇÃO HOME À DIREITA */
.home-right .icons-home {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* ESTILIZAÇÃO DOS ÍCONES NA SEÇÃO HOME (EFEITO HOVER) */
.home-right .icons-home i {
    font-size: 40px;
    transition: transform 0.3s ease;
}
/* ESTILIZAÇÃO DOS LINKS NA SEÇÃO HOME (DESABILITA O LINK) */
.home-right a{
    text-decoration: none;
    color: inherit;
}
/* ESTILIZAÇÃO DO EFEITO HOVER NOS ÍCONES NA SEÇÃO HOME */
.home-right .icons-home i:hover{
    color: #333;
    transform: scale(1.1);
}

/* RESPONSIVIDADE PARA TELA MENOR QUE 768px (Exemplo: Tablets e Telas Menores) */
@media (max-width: 768px) {
    .section-home section {
        flex-direction: column;
        margin-top: 10%;
    }
    .home-left {
        text-align: center;
        padding-left: 0;
        width: 100%;
    }
    .home-left h2 {
        font-size: 1.5rem;
    }
    .home-left p {
        max-width: 80%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .home-right {
        text-align: center;
        padding-right: 0;
    }
    .home-right img {
        width: 300px;
        height: auto;
        border-radius: 30%;
    }
    .home-right .icons-home {
        gap: 15px;
    }
    .home-right .icons-home i {
        font-size: 30px;
    }
}

/* RESPONSIVIDADE PARA TELA MENOR QUE 480px (Exemplo: Celulares) */
@media (max-width: 480px) {
    .home-left h2 {
        font-size: 1.8rem;
    }
    .home-left p {
        font-size: 0.9rem;
    }
    .home-right img {
        width: 250px;
    }
    .home-right .icons-home {
        gap: 10px;
    }
    .home-right .icons-home i {
        font-size: 25px;
    }
}
/* 02 FIM DA SEÇÃO HOME */

/* ============================================================= */

/* 03 INICIO DA SEÇÃO SOBRE MIM */

/* ESTILIZAÇÃO DE TODA SEÇÃO */
.section-sobre {
    background: #111;
    padding-top: 50px;
    margin-top: 5%;
}

/* ESTILIZAÇÃO DO TITULO DA SEÇÃO */
.title-sobre {
    padding-bottom: 20px;
    font-size: 1.8rem;
    text-align: center;
    color: #ccc;
    margin-bottom: 10px;
    font-weight: bold; 
}
/* ESTILIZAÇÃO DO CONTEÚDO DA SEÇÃO */
.text-sobre {
    color: #ccc;
    text-align: center;
    max-width: 500px;
    width: 100%;
    height: auto;
    margin: auto;
}
/* ESTILIZAÇÃO DOS PARÁGRAFOS */
.text-sobre p {
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    color: #ccc;
}
/* CONTÊINER DOS BLOCO PARA O ALINHAMENTO */
.container-sobre {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 30px;
    padding: 10px;
}
/* BLOCO INDIVIDUAIS */
.subtitle-sobre {
    padding: 20px;
    text-align: center;
    flex: 1;
}
/* TÍTULO DO BLOCO */
.title-sub {
    font-size: 1.8rem;
    color: #ccc;
    margin-bottom: 10px;
    font-weight: bold;
}
/* TEXTO DO BLOCO */
.text-sub {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.5;
    margin: 0;
}
/* ESTILIZAÇÃO DOS ICONES */
.subtitle-sobre i{
    font-size: 30px;
    transition: transform 0.3s ease;
}
.subtitle-sobre i:hover{
    transform: scale(1.1);
}

/* Responsividade para tablets (telas de largura menor que 768px) */
@media (max-width: 768px) {
    .container-sobre {
        flex-direction: column; /* Empilhar os blocos verticalmente */
        align-items: center; /* Centralizar os blocos */
        gap: 30px; /* Aumentar o espaçamento entre os blocos */
    }

    .subtitle-sobre {
        padding: 15px;
    }

    .title-sobre {
        font-size: 1.5rem;
    }

    .title-sub {
        font-size: 1.6rem;
    }

    .text-sub {
        font-size: 0.9rem;
    }
}

/* Responsividade para celulares (telas de largura menor que 480px) */
@media (max-width: 480px) {
    .section-sobre {
        padding: 4%;
    }
    .title-sobre {
        font-size: 1.7rem;
        margin-bottom: 8px;
    }
    .text-sobre {
        max-width: 90%;
    }
    .container-sobre {
        gap: 20px;
    }
    .subtitle-sobre {
        padding: 10px;
    }
    .title-sub {
        font-size: 1.7rem;
    }
    .text-sub {
        font-size: 1.0rem;
        line-height: 1.4;
    }
    .subtitle-sobre i {
        font-size: 30px;
    }
}

/* 03 FIM DA SEÇÃO SOBRE MIM */

/* ============================================================= */

/* 04 INÍCIO DA SEÇÃO PROJETOS */

/* Estilização da seção */
.section-projeto {
    padding: 40px 0;
    background-color: #252323;
    background-image: url(/images/background-project.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ESTILIZAÇÃO DO CONTAINER DO PROJETO */
.container-projeto {
    background-color: #1111;
    border: 1px solid #ddd;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    border-radius: 30px;
    text-align: center;
}
/* ESTILIZAÇÃO DO TÍTULO H3 DENTRO DO CONTAINER */
.container-projeto h3 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ccc;
}
/* ESTILIZAÇÃO DO TÍTULO H4 DENTRO DO CONTAINER */
.container-projeto h4 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ccc;
    font-size: 1.1rem;
}
/* ESTILIZAÇÃO DAS IMAGENS DENTRO DO CONTAINER */
.container-projeto img {
    width: 100%;
    max-width: 530px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 2px 5px #ccc;
    margin-bottom: 15px;
    object-fit: cover;
}
/* ESTILIZAÇÃO DOS PARÁGRAFOS DENTRO DO CONTAINER */
.container-projeto p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 500px;
    margin: 0 auto;
    color: #ccc;
}
/* ESTILIZAÇÃO DO BOTÃO DE PROJETO */
.btn-projetos {
    background-color: #6c5ce7;
    color: #fff;
    border: none;
    padding: 5px 7px;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* ESTILIZAÇÃO DO EFEITO HOVER NO BOTÃO */
.btn-projetos:hover {
    background-color: #5948c6;
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
/* ESTILIZAÇÃO DA SEÇÃO DE ÍCONES DO PROJETO */
.icon-projeto {
    margin-top: 15px;
}
/* ESTILIZAÇÃO DO TÍTULO H4 DENTRO DA SEÇÃO DE ÍCONES */
.icon-projeto h4 {
    margin-bottom: 10px;
}
/* ESTILIZAÇÃO DOS ÍCONES DENTRO DA SEÇÃO */
.icon-projeto i {
    font-size: 2rem;
    margin-right: 10px;
    transition: transform 0.3s ease;
}
/* ESTILIZAÇÃO DO EFEITO HOVER NOS ÍCONES */
.icon-projeto i:hover{
    transform: scale(1.1);
}

/* 04 FIM DA SEÇÃO PROJETOS */

/* ============================================================= */

/* 05 INÍCIO DA SEÇÃO CONTATO */

.section-contato {
    padding: 100px 20px;
    background-color: #333;
}

/* Container do formulário */
.container-contato {
    text-align: center;
    background: #111;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título */
.container-contato h3 {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* Grupo de formulários */
.form-grupo {
    margin-bottom: 20px;
    text-align: left;
}

/* Labels */
.form-grupo label {
    color: #fff;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

/* Campos de entrada */
.form-grupo input[type="text"],
.form-grupo input[type="email"],
.form-grupo input[type="menssage"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Foco nos campos */
.form-grupo input:focus {
    border-color: #6c5ce7;
    box-shadow: 0 0 5px rgba(108, 92, 231, 0.5);
}

/* Botão */
.btn-submit {
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #6c5ce7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    margin-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-submit:hover {
    background-color: #5948c6;
    transform: scale(1.1);
    border: 1px solid #ccc;
}

.success, .error {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.success {
    background-color: #d4edda;
    color: #155724;
}
.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* 05 FIM DA SEÇÃO CONTATO */

/* ============================================================= */

/* 06 INÍCIO DA SEÇÃO FOOTER */


/* ESTILIZAÇÃO DO FOOTER */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}
/* ESTILIZAÇÃO DAS REDES SOCIAIS NO FOOTER */
footer .social-links {
    margin: 5px 0;
}
/* ESTILIZAÇÃO DOS ÍCONES DAS REDES SOCIAIS */
footer .social-links i{
    transition: transform 0.3s ease;
}
/* ESTILIZAÇÃO DO EFEITO HOVER NOS ÍCONES DAS REDES SOCIAIS */
footer .social-links i:hover{
    transform: scale(1.1);
}
/* ESTILIZAÇÃO DOS LINKS DAS REDES SOCIAIS */
footer .social-links a {
    margin: 0 10px;
    color: #111;
    font-size: 33px;
    text-decoration: none;
}
/* ESTILIZAÇÃO DO EFEITO HOVER NOS LINKS DAS REDES SOCIAIS */
footer .social-links a:hover {
    color: #181818;
}
/* ESTILIZAÇÃO DO PARÁGRAFO NO FOOTER */
footer p {
    margin: 5px 0;
    font-size: 12px;
}
/* ESTILIZAÇÃO DOS LINKS NO PARÁGRAFO DO FOOTER */
footer p a {
    color: #007BFF;
    text-decoration: none;
}
/* ESTILIZAÇÃO DO EFEITO HOVER NOS LINKS DO PARÁGRAFO */
footer p a:hover {
    text-decoration: underline;
}
/* 06 FIM DA SEÇÃO FOOTER */